body {
    background-color: #FFAA4F;
}

header {
    text-align: center;
    color: whitesmoke;
    
}

h1 {
    border: black 1px solid;
    background-color: #945410;
    text-align:center;

}


button {
    border: solid rgb(0, 0, 0) 1px;
    display: inline;
    padding: 10px 5px;
    margin: 0px 20px;
    background-color: #00A6E0;
    color: rgb(0, 0, 0);
}

section {
    border: solid black 1px;

}

#hero {
    width: 100%;
}

.section_image {
    text-align: center;
}

p {
    background-color: #E08B2F;
}
footer {
    text-align: center;
}